<div class="set_center_outer">
  <div class="set_center_inner">
    <div>
      <h1>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
        さんの会員詳細
      </h1>
    </div>

    <table class="table">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>
          <%= @customer.last_kana %>
          <%= @customer.first_kana %>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>  
        <td><%= @customer.tell %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
          <% if @customer.is_deleted %>
            <td class="text-danger">退会</td>
          <% else %>
            <td class="text-success">有効</td>
          <% end %>
      </tr>
    </table>
    
    <div class="mx-auto">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-md btn-success ml-5" %>
      <%= link_to "会員一覧に戻る", admin_root_path, class: "btn btn-md btn-primary ml-5" %>
    </div>
  </div>
</div>