<div class="set_center_outer">
  <div class="set_center_inner">
      <h2>お問い合わせ</h2>

      <%= form_with model: @contact, url: contact_thanks_path, local: true do |f| %>
        <table class="table">
          <tr>
            <th>名前</th>
            <td>
              <%= f.hidden_field :name %>
              <%= @contact.name %>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= f.hidden_field :email %>
              <%= @contact.email %>
            </td>
          </tr>
          <tr>
            <th>お問い合わせ内容</th>
            <td>
              <%= f.hidden_field :message %>
              <%= simple_format(@contact.message) %>
            </td>
          </tr>
        </table>
        
        <p>この内容で送信します。よろしいですか？</p>

        <div class="float-right">
          <%= f.submit "戻る", name: 'back', class: "btn btn-dark" %>
          <%= f.submit "送信", class: "btn btn-primary" %>
        </div>
      <% end %>
      
  </div>
</div>
