<!DOCTYPE html>
<html>
  <head>
    <title>TTRsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="footerFixed">
      <header class="sticky-top">
        <nav class="navbar navbar-expand-lg" style="background-color: #C0C0C0">
          <div class="container">

            <h1 class="navbar border border-dark"><strong><%#= link_to "TTRsite", root_path, class:'text-dark' %></strong></h1>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <% if customer_signed_in? %>

                <h5 class="ml-5">ようこそ、<%= current_customer.last_name %>さん!</h5>

                <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5"><%= link_to "マイページ", public_customer_path(current_customer.id), class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "予約はこちら", public_reserves_path, class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
                </ul>

              <% elsif admin_signed_in? %>

                <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5">会員一覧</li>
                  <li class ="rounded border border-dark mr-5">予約一覧</li>
                  <li class ="rounded border border-dark mr-3"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'%></li>
                </ul>

              <% else %>

                <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5"><%= link_to "予約はこちら", public_reserves_path, class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5">お問い合わせ</li>
                </ul>

              <% end %>

            </div>
          </div>
        </nav>
      </header>
    
      <main>
        <%# deivseのフラッシュメッセージを表示 %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    
      <footer>
        <p>Copyright © TTRsite Inc. All Rights Reserved.</p>
      </footer>
      
    </div>
  </body>
</html>
